# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Simulation Data
jsonStage
analysis_descriptions.txt
analysis_descriptions_revised.txt
risk_analysis_logic.txt
app_current_logic_distilled.txt
risk_analysis_logic_Final.txt
risk_analysis_logic_Revised by me.txt
src/utils/status_translation_guide.txt
